@charset "UTF-8";

.project-list h3 {
    margin: 0;
    font-size: 1.1rem;
}

.filter-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: rgba(40, 40, 50, 0.9);
    gap: 1rem;
    font-weight: 700;
}

.filter-btn {
    background-color: rgb(60, 50, 80);
    border: none;
    color: rgb(255, 255, 255);
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 0.5rem;
    font-weight: 700;
    transition: background-color 0.3s, color 0.3s;
}

.filter-btn.active {
    background-color: rgb(120, 80, 160);
}

.filter-btn:hover {
    background-color: rgb(255, 200, 50);
    color: rgb(0, 0, 0);
}